body {
    margin: 0;
    padding: 0;
    background-color: #ebebe0;
}


#heading {
    color: #b6ca4e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


#maincontainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}


#col1 {
    /*background-color: blue;*/
    height: 100vh;
}


#col2 {
    background-color: #e3ebbc;
    border-radius: 30px;
    border: 10px solid #b6ca4e;
}


#col3 {
    /*background-color: green;*/
}
